<div class="lg:hidden flex justify-end px-4 mt-4">
    <button (click)="isFilterVisible = !isFilterVisible"
        class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
        {{ isFilterVisible ? 'Hide Filters' : 'Show Filters' }}
    </button>
</div>

<div class="ml-5"
    [ngClass]="{'hidden': !isFilterVisible && screenWidth < 1024, 'block': isFilterVisible || screenWidth >= 1024}">
    <h1 class="text-lg font-medium py-4">Search by Categories</h1>
    <div class="space-y-4" *ngFor="let jobs of jobCategories; let i = index">
        <div class="flex gap-3 items-center">
            <input [checked]="filterCategories.includes(jobs)" (change)="onCategoryChange($event, jobs)" type="checkbox"
                class="scale-125" [id]="'job-' + i">
            <label [for]="'job-' + i">{{ jobs }}</label>
        </div>
    </div>

    <h1 class="text-lg font-medium py-4">Search by Location</h1>
    <div class="space-y-4" *ngFor="let location of jobLocations; let i = index">
        <div class="flex gap-3 items-center">
            <input [checked]="locationCategories.includes(location)" (change)="onLocationChange($event, location)"
                type="checkbox" class="scale-125" [id]="'location-' + i">
            <label [for]="'location-' + i">{{ location }}</label>
        </div>
    </div>
</div>