<div class="shadow py-4 px-6 bg-white flex flex-wrap justify-between items-center gap-4">
    <div class="flex items-center space-x-4">
        <img src="https://res.cloudinary.com/dgtfgihga/image/upload/v1753714978/Screenshot_2025-07-28_203234_gmzguo.png"
            alt="logo" class="h-12 w-auto cursor-pointer" routerLink="/" />
    </div>
    <div class="flex items-center space-x-4">
        <img [src]="image" alt="Profile" class="h-12 w-12 rounded-full object-cover" />
        <h3 class="text-gray-700 text-base font-medium">
            Hello, {{ name }} Recruiter
        </h3>
        <button class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-full transition duration-200"
            (click)="logout()">
            Logout
        </button>
    </div>
</div>